@import "../../assets/scss/variables";

.occupancy-container {
  .leftcontent-occupancy {
    .card-navbtns {
      .navbtns {
        margin-bottom: -1px;
      }
    }
  }
  .rightcontent {
    .card {
      height: 100%;
      background: $fullsoon;
      border-radius: 10px;
      .card-body {
        .fltr-heading {
          display: flex;
          justify-content: space-between;
          margin-bottom: 13px;
          label {
            font-weight: bold;
            font-size: 14px;
            line-height: 19px;
            display: flex;
            align-items: center;
          }
          button {
            background: transparent;
            border: 0;
            color: #fff;
            border-bottom: 1px solid #fff;
            padding: 0px 3px;
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            display: flex;
            align-items: center;
            color: #f3f4fb;
          }
        }

        .datepicker-wrapper {
          span {
            font-weight: bold;
            font-size: 14px;
            line-height: 19px;
            display: flex;
            align-items: center;
            color: #f3f4fb;
          }
          .datepicker-wrapper-img {
            display: flex;
            justify-content: flex-end;
          }
          img {
            cursor: pointer;
          }
          .date-picker {
            background: transparent;
            border: 0;
            color: #fff;
            font-weight: bold;
            width: 100%;
            outline: none;
          }
        }

        .react-datepicker-wrapper {
          width: 60%;
        }
        .hr-separator {
          height: 0.5px;
          margin: 0.5rem 0;
          color: #f3f4fb;
        }
        label {
          cursor: pointer;
          // &:hover {
          //   color: #fff !important;
          // }
        }
        color: #fff;
        h1 {
          font-weight: bold;
          font-size: 21px;
          line-height: 29px;
        }
        .action-btns {
          bottom: 20px;
          display: flex;
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0);
          button {
            background: #f1f3f4;
            border-radius: 5px;
            width: 221px;
            height: 40px;
            width: 102px;
            height: 40px;
            border: 0;
            font-size: 16px;
            font-weight: bold;
            &.close-btn {
              color: #8b8f94;
            }
            &.apply-btn {
              color: #6353ea;
            }
          }
        }
        .hide-filter {
          display: flex;
          justify-content: end;
          font-weight: bold;
          font-size: 14px;
          line-height: 19px;
          margin-top: 5px;
          text-decoration: underline;
          cursor: pointer;
          img {
            margin-left: 5px;
          }
        }
      }
      .checkbox {
        font-size: 14px;
        line-height: 19px;
        display: flex;
        align-items: center;
        input {
          display: none; /* Hide the default checkbox */
        }
        span {
          height: 15px;
          width: 15px;
          display: inline-block;
          position: relative;
          border: 1px solid #ffffff;
          box-sizing: border-box;
          border-radius: 2px;
        }
        [type="checkbox"]:checked + span:before {
          content: "\2714";
          position: absolute;
          top: -2px;
          left: 1.5px;
          font-size: 14px;
        }
      }
    }
  }

  .main-container {
    height: calc(100vh - 175px);
    margin-bottom: 20px;
    .card {
      &:first-child {
        height: 38%;
        .card-body {
          height: inherit !important;
        }
      }
    }
    .second-card {
      height: 49.5%;
    }
  }
  @media screen and (min-width: 1600px) {
    .main-container {
      height: calc(100vh - 200px);
      .second-card {
        height: 48.8%;
      }
    }
  }
}

.filter-time{
  .dropdown{
    button {
      background: #fff !important;
    }
  }
}

.card-body-custom {
  height: 93% !important;
}

.graph-card{
  height: 62% !important;
}

.actual-header {
  text-align: center;
  font-size: 19px;
  white-space: pre-line;
}

.actual-header::first-line {
  font-weight: 800;
  color: #535355;
}

.predicted-header {
  color: #6353ea !important;
}

.predicted-header::first-line {
  font-weight: 800 !important;
}

.daily-occupancy-heading{
  color : "#6353ea";
  font-weight: 800;
  font-size: 21px;
}

.occupancy-divider{
  position: absolute;
  left: 46%;
  top: 0;
  height: 100%;
  width: 0.5px;
  background: #8B8F944D;
  z-index: 999;
}

.occupancy-wrapper{
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.occupancy-flex-wrapper{
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.interval-occupancy-table{
  width: 53%;
}